# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.directory

# Arduino / PlatformIO
*.hex
*.elf
*.bin
build/
.pio/
.pioenvs/
.piolibdeps/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
